html {
  font-family: $font-family--secondary;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: $text;

  @media (min-width: 38em) {
    font-size: 20px;
  }
}

a {
  color: $link;
  text-decoration: none;
  transition: color 1s;

  &:hover,
  &:focus {
    color: $link-hover;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family--primary;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.1;
  color: $headings;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 1rem;
}
